<section>
  <div class="three-images-wrapper">
    {% if section.settings.image != blank %}
      <div class="one-user">
        <h1><img width="50" height="50" loading="lazy" src="{{ section.settings.image | image_url }}"></h1>
      </div>
    {% else %}
      <div class="one">
        <h1></h1>
      </div>
    {% endif %}

    {% if section.settings.image2 != blank %}
      <div class="two-user">
        <h1><img width="40" height="40" loading="lazy" src="{{ section.settings.image2 | image_url }}"></h1>
      </div>
    {% else %}
      <div class="two">
        <h1></h1>
      </div>
    {% endif %}

    {% if section.settings.image3 != blank %}
      <div class="three-user">
        <h1><img width="40" height="40" loading="lazy" src="{{ section.settings.image3 | image_url }}"></h1>
      </div>
    {% else %}
      <div class="three">
        <h1></h1>
      </div>
    {% endif %}
  </div>
</section>

<style>
  .three-images-wrapper {
      display: flex;
    }

    .one {
      background-image: url("{{'img1.png' | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }
    .one-user {
      background-image: url("{{section.settings.image | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }

    .two {
      background-image: url("{{'img2.png' | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }
    .two-user {
      background-image: url("{{section.settings.image2 | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }

    .three {
      background-image: url("{{'img3.png' | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }
    .three-user {
      background-image: url("{{section.settings.image3 | asset_url}}");
      width: 33.3333%;
      height: 500px;
      background-size: cover;
    }
    .one-user img{
      width: 100%;
      height: 500px;
      background-size:cover;
      background-position:center;
    }
    .two-user img{
      width: 400px;
      height: auto;
    }
</style>

{% schema %}
{
  "name": "three-images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image4"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "three-images"
    }
  ]
}
{% endschema %}
